<!DOCTYPE html>
<html>
  <head>
  </head>
  <body class="main home">
    <a href="#" data-activates="navigation" class="button-collapse" style="position:fixed;"><i class="material-icons">menu</i></a>
  </body>
</html>
