#container{
  height: 100%;
}

#navigation{
  width: 300px;
}

#nav_info{
  height: 300px;
  text-align: center;
}

#nav_info #nav_info_login {
  padding-top: 20px;
  margin-bottom: 0px;
}

#nav_info .nav_info_login_center{
  width: 80%;
  marign: 0 auto;
  text-align: left;
}

#nav_info #nav_info_button{
  display: inline;
}

#content{
  padding-left: 300px;
  height: 100%;
}

#content #home_shopin h1{
  font-size: 200px;
}

#content #home_signup h1{
  font-size: 100px;
}

#content #home_signup .done{
  margin-top: 30px;
  color: green;
}

#content #home_signup #email.valid {
     border-bottom: 1px solid red;
     box-shadow: 0 1px 0 0 red;
}

#url_Input {
  width: 63%;
  height: 38px;
  border: 2px solid #ccc;
  border-radius: 2px;
  margin: 0 auto 0 22px;
  padding: 12px 20px;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#url_Input:focus {
  border: 2px solid #555;
}

#url_Submit {
  width: 20%;
  height: 38px;
  margin: -2px 0 0 0;
}

#url_Submit i {
  font-size: 2.0em;
  margin: 1px 0 0 -14px;
}
